<h2>New promo code</h2>

<%= render "form.html", changeset: @changeset,
                        events: @events,
                        action: promo_code_path(@conn, :create) %>

<span><%= link "Back", to: promo_code_path(@conn, :index) %></span>
