<h2>Show event</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @event.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @event.description %>
  </li>

  <li>
    <strong>Latitude:</strong>
    <%= @event.latitude %>
  </li>

  <li>
    <strong>Longitude:</strong>
    <%= @event.longitude %>
  </li>

</ul>

<span><%= link "Edit", to: event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: event_path(@conn, :index) %></span>
